<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H5版本</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="//g.alicdn.com/nuke/style-normalize/0.1.2/index.css">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>

<script src="<%= jssdk %>"></script>
<script id="script" type="text/javascript" src="<%= bundleJs %>"></script>

</body>
</html>
